body{
    background-color: burlywood;
}
h1,h3,h2{
    color: rgb(17, 11, 105);
}
.html{
    color: rgb(131, 6, 6);
    font-size: 30px;
}
p{color: rgb(105, 5, 5);
font-size: 26px;
}
div{background-color: rgb(230, 225, 218);
margin-bottom: 45px;
text-align: justify;}