body{
    background-color: rgb(15, 14, 13);
}
h1,h3,h2{
    color: rgb(17, 11, 105);
}
.html{
    color: rgb(131, 6, 6);
    font-size: 30px;
}
p{color: rgb(220, 223, 55);
font-size: 30px;}

.dividendo{
    margin-left: 2%;
}
.hola img{
    width: 40%;
   border: rgb(12, 9, 9) solid;
    
    height: auto;
    padding: 5px;
    box-shadow: 10px 10px 10px 10px rgb(3, 98, 128);
    margin: auto;
margin-left: 50px;
margin-bottom: 30px;}
.todos{
    margin-bottom: 30%;
}

.teorema1{
    background-color: rgb(45, 82, 83);
}
.teorema2{
    background-color: rgb(45, 82, 83);
}
.teorema3{
    background-color: rgb(45, 82, 83);
}